.App {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border: 7px solid #d5d5d5;
    border-radius: 10px;
    padding: 20px 40px 40px;
    background: white;
    box-shadow: 0 0 50 0;
    box-shadow: 5px 10px 0px 3px #8e484a;
    margin-top: 100px;
}
