body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    background: url("../public/restaurant.png");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
